<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <button id="moveLogin">login</button>
    <button id="moveRegister">register</button>
    <button id="movePost">write</button>

    <h3>게시물 목록</h3>

    <ul>
        <% titles.forEach(title => { %>
            <li><%= title %></li>
        <% }); %>
    </ul>

    <script>
        const moveLogin = document.getElementById("moveLogin");
        const moveRegister = document.getElementById("moveRegister");
        const movePost = document.getElementById("movePost");

        moveLogin.addEventListener('click', () => {
            window.location.href = '/login';
        });

        moveRegister.addEventListener('click', () => {
            window.location.href = '/register';
        });

        movePost.addEventListener('click', () => {
            window.location.href = '/post';
        });
    </script>
</body>
</html>